<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.bienao.springbootinit.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="life.bienao.springbootinit.entity.UserRole" >
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
                role_id
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="life.bienao.springbootinit.entity.UserRole">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userId ">
                user_id,
            </if>
            <if test="null != roleId ">
                role_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != userId ">
                #{userId},
            </if>
            <if test="null != roleId ">
                #{roleId}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM sys_user_role
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="life.bienao.springbootinit.entity.UserRole">
        UPDATE sys_user_role
        <set>
            <if test="null != userId ">user_id = #{userId},</if>
            <if test="null != roleId ">role_id = #{roleId}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user_role
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user_role
        WHERE user_id = #{userId}
        order by role_id
    </select>


</mapper>